.dialog
	if (!props.chat)
		.dialog__empty
			h3.dialog__empty-title Чат удален
	else
		.dialog__head
			.dialog__user
				.dialog__user-image
					if (props.chat.image)
						img(src=`https://ya-praktikum.tech/api/v2/resources${props.chat.image}`)
				.dialog__user-title #{props.chat.title}
			button.dialog__actions(data-click="clickActions")
				include ../../../images/icons/actions.svg
			.dialog__actions-menu
				button.dialog__action(data-click="clickUsers") Пользователи
				if (props.user.id === props.chat.created_by)
					button.dialog__action(data-click="clickAvatar") Изменить аватар
					button.dialog__action(data-click="clickDelete") Удалить чат
		.dialog__body
			.dialog__messages(data-ref="messages")
		.dialog__footer
			button.dialog__attach
				include ../../../images/icons/attach.svg
			form.dialog__form(method="POST" action="?send" autocomplete="off")
				input.dialog__form-input(type="text" name="message" placeholder="Сообщение" data-ref="input")
				button.dialog__form-submit(type="submit" title="Отправить")
					img(src=require('~images/icons/message-send.svg'))
