.page-chats
	aside.page-chats__aside
		.page-chats__aside-head
			.page-chats__user
				a.page-chats__user-link(href="/user/profile/" title="Перейти в профиль") Профиль
			.page-chats__search
		.page-chats__aside-body
			.page-chats__list
	main.page-chats__main
		h3.page-chats__empty-message Выберите чат чтобы отправить сообщение
