form.form-auth(autocomplete="off")&attributes(props.attributes)
	.form-auth__head
		.form-auth__title #{props.title}
	.form-auth__body
		fieldset(data-ref="fieldset")
		if (props.errors)
			ul.form-auth__errors
				each error in props.errors
					li.form-auth__error #{error}
	.form-auth__footer(data-ref="footer")
