@import "~common/styles/variables/layout";

$breakpoints: (
  xxs: 0,
  xs: 475px,
  sm: 768px,
  md: 1024px,
  lg: 1200px,
  xl: 1366px,
  xxl: 1440px,
  container: $container-width + $container-padding * 2,
);
