.profile
	aside.profile__aside
		button.profile__back(data-click="clickBack")
			.profile__back-icon
				img(src=require('~images/icons/back.svg'))
	main.profile__main
		.profile__head(data-ref="head")
		.profile__body(data-ref="body")
