.messenger
	aside.messenger__aside
		.messenger__aside-head
			.messenger__user
				a.messenger__user-link(href=data.profile title="Перейти в профиль") Профиль
			.messenger__search
		.messenger__aside-body
			.messenger__list
	main.messenger__main
