include ../Message/mixin

.dialog
	if (data.chat)
		.dialog__head
			.dialog__user
				.dialog__user-image
					img(src=data.chat.image alt=data.chat.title)
				.dialog__user-title #{data.chat.title}
			button.dialog__user-actions
				img(src="/images/icons/actions.svg")
		.dialog__body
			.dialog__messages
				.dialog__messages-date 19 июня
				each message in data.messages
					-
						message.mods = []
						if (message.reply) message.mods.push('reply')
					if (message.reply)
						.dialog__reply
							+Message(message)
					else
						.dialog__message
							+Message(message)
		.dialog__footer
			button.dialog__attach
				img(src="/images/icons/attach.svg")
			form(method="POST" action="?send" autocomplete="off").dialog__form
				input(type="text" name="message" placeholder="Сообщение").dialog__form-input
				button(type="submit" title="Отправить").dialog__form-submit
					img(src="/images/icons/message-send.svg")
	else
		h3.dialog__title-empty Выберите чат чтобы отправить сообщение
