include ../button/mixin

form.form-search&attributes(data.attributes)
	input.form-search__input(type="text")
	label.form-search__label
		img.form-search__label-icon(src="/images/icons/search.svg")
		.form-search__label-title Поиск
