@import "common/styles/variables/layout";

$breakpoints: (
  xxs: 0,
  xs: 475px,
  sm: 768px,
  md: 1024px,
  lg: 1200px,
  xl: 1366px,
  xxl: 1440px,
);

:export {
  xxs: map_get($breakpoints, xxs);
  xs: map_get($breakpoints, xs);
  sm: map_get($breakpoints, sm);
  md: map_get($breakpoints, md);
  lg: map_get($breakpoints, lg);
  xl: map_get($breakpoints, xl);
  xxl: map_get($breakpoints, xxl);
}
