@import "./src/common/styles/variables/fonts";

.message {
  display: block;
  font-size: 12px;
  line-height: 15px;
  font-weight: $font-weight-medium;
  padding: 10px;
  border-radius: 0 8px 8px 8px;
  background: #F8F8F8;

  &__date {
    font-size: 0.8em;
    color: #999;
  }
  &__text {
    display: inline;
  }
  &__info {
    display: inline-flex;
    align-items: flex-end;
    justify-content: flex-end;
    float: right;
    margin-left: 10px;
    min-height: 15px;
  }
  &.message--text {
    max-width: 600px;
  }
  &.message--reply {
    border-radius: 8px 8px 0 8px;
    background: #E4EDFD;

    .message__date {
      color: #3369F3;
    }
  }
  &.message--image {
    background: none;

    .message__date {
      color: #fff;
      padding: 0.2em 0.5em;
      border-radius: 1em;
      background: rgba(#525252, 0.5);
    }
  }
}
